body {
  &.zoom-0 {
    zoom: 100%;
  }

  &.zoom-1 {
    zoom: 110%;
  }

  &.zoom-2 {
    zoom: 120%;
  }

  &.zoom-3 {
    zoom: 130%;
  }

  &.zoom-4 {
    zoom: 140%;
  }

  &.zoom-5 {
    zoom: 150%;
  }
}
