.xello-tooltip {
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 3px 3px 4px black;
  border: 1px solid white;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 3;
    background: transparent;
  }

  &.top {
    &:before {
      border-top: 8px solid black;
      bottom: -8px;
    }
  }

  &.bottom {
    &:before {
      border-bottom: 8px solid black;
      top: -8px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 2;
    background: transparent;
  }

  &.top {
    &:after {
      border-top: 10px solid white;
      bottom: -10px;
    }
  }

  &.bottom {
    &:after {
      border-bottom: 10px solid white;
      top: -10px;
    }
  }
}
