@import '../../styles/colors';

.xello-tooltip {
  position: absolute;
  background-color: $color-black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  border-radius: 9px;
  box-shadow: 3px 3px 4px $color-black;
  border: 1px solid $color-white;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 3;
    background: transparent;
  }

  &.top {
    &:before {
      border-top: 9px solid $color-black;
      bottom: -8px;
    }
  }

  &.bottom {
    &:before {
      border-bottom: 9px solid $color-black;
      top: -8px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 2;
    background: transparent;
  }

  &.top {
    &:after {
      border-top: 10px solid $color-white;
      bottom: -10px;
    }
  }

  &.bottom {
    &:after {
      border-bottom: 10px solid $color-white;
      top: -10px;
    }
  }
}
